body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
}

section {
    margin-top: 40px;
    
        padding: 20px;
        text-align: center;
}


h2 {
    color: #3498db;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}


@media screen and (max-width: 767px) {
    header {
        padding: 20px 0;
    }

    section {
        margin-top: 20px;
    }
}
nav {
    display: flex;
    justify-content: center;
    background-color: #555;


}

nav a{
    padding: 10px;
    color: #fff;
    text-decoration: none;


}
.open-modal-button{
    background-color: #3498db;
    color: #fff;
    border: none !important;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
}

/*Estilo modal oculto*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7 );

}
/*Estilo de contenido del modal*/

.modal-content{
    background-color: #f2f2f2;
    margin: 15% auto;
    padding: 20px;
    width: 70%;

}

/*Estilo del botopn para cerrar el modal*/

.close-button{
    float: right;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;

}

/*Aplicar el estilo del modal cuando el id modal esta en target*/
:target{
    display: block;

}
#testimonials {
    padding: 5rem 0;
    background: rgba(243, 243, 243);
  }
  
  .testimonial-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 400;
    color: #555;
  }
  
  .testimonial-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 1rem;
  }
  
  .testimonial-box .checked {
    color: #ff9529;
  }
  
  .testimonial-box .testimonial-text {
    margin: 1rem 0;
    color: #444;
  }
  
  .testimonial-box {
    text-align: center;
    padding: 1rem;
  }
  
  .customer-photo img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
  }